.main {
  width: 100%;
}

.top-info {
  width: 100%;
  height: 719px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-info-pic {
  width: 375px;
  height: 240px;
  background: #c4c4c4;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
}

.top-info-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 479px;
  width: 100%;
  background-image: url(images/top-info-desc-plant.svg),
    linear-gradient(
      39.89deg,
      rgba(0, 115, 12, 0.81) -22.86%,
      rgba(251, 246, 238, 0) 116.18%
    );
  background-repeat: no-repeat;
  background-position: bottom left;
}

.desc-headline {
  padding-top: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #212529;
}

.desc-headline span {
  color: #00730c;
}

.desc-about {
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #212529;
}

.quate-btn {
  cursor: pointer;
  margin-top: 40px;
  width: 303px;
  height: 44px;

  background: #00730c;
  border-radius: 5px;
  border: none;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: capitalize;

  color: #ffffff;
}

.top-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-info-wrapper a {
  text-decoration: none;
  margin-top: 19px;
  width: 140px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #00730c;
  padding-right: 28px;
  background-image: url(images/right-arrow-green.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.top-info-desc {
  display: flex;
  flex-direction: column;
  margin-top: 47.83px;
  width: 346px;
  height: 186px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: #212529;
}

.desc-name {
  width: 208.8px;
  padding-left: 28.8px;

  background-image: url(images/logo-misc.svg);
  background-repeat: no-repeat;
}

.top-info-tags span:nth-child(1) {
  padding-left: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #212529;
}

.top-info-tags-wrapper {
  padding-top: 43px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.top-info-tags:last-child {
  display: none;
}

.top-info-tags span:nth-child(2) {
  padding-left: 8px;
  font-size: 10px;
  line-height: 14px;
}

.top-info-tags {
  width: 133px;
  height: 32px;

  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  border-radius: 32px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 32px;

  color: #212529;
}
.top-info-pic-lg-desktop {
  display: none;
}

.top-info-pic-sm-desktop {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  display: flex;
  justify-content: center;
}

.serv-headline {
  padding-top: 50px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #212529;
}
.serv-headline span {
  color: #00730c;
}

.serv-info {
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  text-align: center;
}

.serv-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.serv-card {
  width: 345px;
  height: 116px;

  // background: url(images/serv-card-logo.svg) 0px 12px,
  //   linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  // background-repeat: no-repeat;
  background-size: 112px 92px;

  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.planting {
  background: url(images/serv-card-planting.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.cutting {
  background: url(images/serv-card-cuttin.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.design {
  background: url(images/serv-card-design.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.growing {
  background: url(images/serv-card-growing.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.scaping {
  background: url(images/serv-card-scaping.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.branch {
  background: url(images/serv-card-branch.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.pests {
  background: url(images/serv-card-pests.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.watering {
  background: url(images/serv-card-watering.svg) 20px 33px,
    url(images/serv-card-logo.svg) 0px 12px,
    linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  background-repeat: no-repeat;
}

.serv-card span:nth-child(1) {
  padding-left: 90px;
  padding-top: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: #212529;
}

.serv-card span:nth-child(2) {
  padding-top: 10px;
  padding-left: 90px;
  padding-bottom: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info-pics-background {
  // position: relative;
  margin-top: 50px;
  width: 188px;
  height: 293px;
  background: #00730c;
}

.main-info-pics-center {
  position: relative;
  top: -281px;
  left: 12px;
  width: 291px;
  height: 358px;
  background-color: #c4c4c4;
  z-index: 1;
}
.main-info-pics-front {
  width: 241px;
  height: 182px;
  background-color: #c4c4c4;
  position: relative;
  top: -386px;
  left: 77px;
  border: 9px solid white;
  border-radius: 2pt;
  z-index: 2;
}

.main-info-pics {
  height: 462px;
  width: 100%;
}

.main-info-headline {
  margin-top: 60px;
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

.main-info-headline span {
  color: #00730c;
}

.main-info-about {
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.main-info-cards {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-info-card {
  width: 162px;
  height: 94px;
  background: #ffffff;

  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  padding-top: 60px;
  padding-left: 15px;
  text-align: center;
}

.main-info-cards a {
  text-decoration: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
}

.mission {
  background: url(images/main-info-mission-card.svg) 61px 15px;
  background-repeat: no-repeat;
}

.vision {
  background: url(images/main-info-vision-card.svg) 61px 15px;
  background-repeat: no-repeat;
}

.support {
  background: url(images/main-info-support-card.svg) 61px 15px;
  background-repeat: no-repeat;
}

.trust {
  background: url(images/main-info-trust-card.svg) 61px 15px;
  background-repeat: no-repeat;
}

.main-info-cards-button {
  margin-top: 30px;
  appearance: none;
  border: none;
  width: 167px;
  height: 40px;
  background: #00730c;
  border-radius: 5px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.pros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 684px;

  background: url(images/pros-bg-left.svg) 0px 80.84px,
    url(images/pros-bg-rigth.svg) 225.1px 0px, #0c4b35;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.pros-image {
  width: 345px;
  height: 217px;
  background-color: #676767;
  margin-top: 50px;
}

.pros-info {
  display: flex;
  flex-direction: column;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.pros-points {
  display: flex;
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px 29px;
  justify-content: center;
}

.pros-points span:nth-child(-n + 4) {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 158px;
  height: 22px;
  padding-left: 30px;
  background-image: url(images/pros-tick.svg);
  background-position: -7px -7px;
  background-repeat: no-repeat;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: start;
}

.pros-info span {
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

.work-proc {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.work-proc-about {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
}

.work-proc-about span:nth-child(1) {
  color: #00730c;
}

.work-proc-about-info {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.work-proc-cards-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-consultation {
  background: url(images/work-proc-card-bg.svg) 237.77px 47.97px,
    url(images/work-proc-consultation.svg) 20px 20px, #ffffff;
  background-repeat: no-repeat;
}

.work-design {
  background: url(images/work-proc-card-bg.svg) 237.77px 47.97px,
    url(images/work-proc-design.svg) 20px 20px, #ffffff;
  background-repeat: no-repeat;
}

.work-maintenance {
  background: url(images/work-proc-card-bg.svg) 237.77px 47.97px,
    url(images/work-proc-maintanance.svg) 20px 20px, #ffffff;
  background-repeat: no-repeat;
}

.work-complete {
  background: url(images/work-proc-card-bg.svg) 237.77px 47.97px,
    url(images/work-proc-complete.svg) 20px 20px, #ffffff;
  background-repeat: no-repeat;
}

.work-proc-cards {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-left: 20px;
  width: 345px;
  height: 208px;

  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}

.work-proc-cards span {
  padding-top: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

// .staff-main {
//   display: flex;
//   justify-content: center;
// }

.staff-call {
  margin-top: 55px;
  width: 345px;
  height: 224px;
  background-color: #c4c4c4;
  border-radius: 5px;

  padding: 50px 32px 0px 41px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.call-big {
  margin-top: 30px;
  background: url(images/phone-green.svg) 30px 10px/20px no-repeat, #ffffff;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  border: none;
  width: 137px;
  height: 40px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00730c;
  padding-left: 30px;
}

.staff-about {
  margin-top: 50px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

.staff-about span {
  color: #00730c;
}

.staff-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.staff-about-info {
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  /* Typography / Paragraph Color */

  color: #676767;
}
.expert {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 40px;
  width: 345px;
  height: 343px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

.expert-info {
  width: 345px;
  height: 62px;
  background: linear-gradient(
    6.68deg,
    #00730c 4.95%,
    rgba(251, 246, 238, 0) 264.79%
  );
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  /* Typography/Font White Color */

  color: #ffffff;
}

.expert-info span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.expert-br-line {
  margin-top: 30px;
  width: 178px;
  height: 8px;
  background-image: url(images/exper-br-line.svg);
  background-repeat: no-repeat;
}

.experts-xl-only {
  display: none;
}

.experts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-bg {
  margin-top: 50px;
  background: url(images/feedback-bg.svg);
  width: 100%;
  height: 585px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feedback {
  margin-top: 50px;
  width: 345px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}
.feedback span {
  color: #00730c;
}

.feedback-info {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  text-align: center;
  color: #676767;
}

.feedback-block {
  margin-top: 40px;
  width: 345px;
  height: 413px;
  background: #ffffff;
  /* Normal Shadow */

  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.feedback-user-pic {
  margin-top: 20px;
  margin-left: 20px;
  width: 135px;
  height: 183px;
  background: #c4c4c4;
}

.feedback-data {
  margin-top: 30px;
  padding-top: 13.75px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;

  background: url(images/quots.svg) no-repeat 20px 0px;
}

.feedback-username {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}
.feedback-username span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  /* Typography / Paragraph Color */

  color: #676767;
}

.feedback-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.feedback-rating {
  width: 124px;
  height: 25px;
  background: url(images/rating.svg) no-repeat;
}
.feedback-block-xl {
  display: none;
}

.btn-wrapper {
  display: none;
}

.faq-wrapper {
  margin-top: 152px;
  display: flex;
  justify-content: center;
}

.faq {
  display: flex;
  flex-direction: column;
}

.faq-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #212529;
}

.faq-head span {
  color: #00730c;
}

.faq-info {
  padding-top: 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.dropbtn {
  width: 345px;
  height: 44px;
  border-radius: 3px;
  border: none;
  padding-left: 20px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: start;
  color: #212529;
  background: url(images/plus.svg) 307px 12.5px no-repeat, #fff8f1;
}

.dropbtn:focus {
  color: #ffffff;
  background: url(images/minus.svg) 307px 12.5px no-repeat, #00730c;
}

.faq-dropdwn {
  margin-top: 20px;
  width: 345px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.faq-dropdwn-content {
  display: none;
  max-width: 345px;
  padding-left: 16px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.show {
  display: block;
}

@media (min-width: 481px) {
  .top-info-pic {
    display: none;
  }

  .top-info {
    background: linear-gradient(
      79.58deg,
      rgba(0, 115, 12, 0.81) -39.14%,
      rgba(251, 246, 238, 0) 90.23%
    );
  }

  .top-info-about {
    background: none;
    width: 1410px;
  }

  .top-info-desc {
    margin-top: 133px;
    width: 500px;
  }

  .desc-name {
    width: 235px;
    font-size: 16px;
  }

  .desc-headline {
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
    padding-top: 20px;
  }

  .desc-about {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
  }

  .quate-btn {
    width: 175px;
    height: 50px;
    margin-top: 50px;
    margin-right: 30px;

    font-size: 18px;
    line-height: 24px;
  }

  .top-info-wrapper {
    flex-direction: row;
    align-items: baseline;
  }

  .top-info-wrapper a {
    width: 172px;
    font-weight: 600;
    font-size: 18px;
    color: #676767;
    background-image: url(images/right-arrow-grey.svg);
  }

  .top-info-tags-wrapper {
    justify-content: flex-start;
    gap: 109px;
  }

  .top-info-tags {
    width: 50px;
    height: 50px;
    display: flex;

    background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
    border-radius: 35px;
  }

  .top-info-tags span:nth-child(1) {
    padding-top: 15px;
    padding-left: 7px;

    font-size: 15px;
    line-height: 20px;
  }
  .top-info-tags span:nth-child(2) {
    padding-top: 5px;
    padding-left: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .top-info-tags:last-child {
    display: flex;
  }

  .top-info-pic-sm-desktop {
    z-index: 1;
    width: 197px;
    height: 270px;
    background-color: #c4c4c4;
    position: absolute;
    top: 550px;
    left: 0.1px;
    display: block;
  }

  .top-info-pic-lg-desktop {
    position: absolute;
    width: 1013px;
    height: 673px;
    right: 0.1px;
    top: 190px;
    display: block;

    background: #c4c4c4;
  }

  .serv-headline {
    padding-top: 80px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }

  .serv-info {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
  }

  .serv-card {
    width: 330px;
    height: 366px;
    justify-content: center;
  }

  .planting {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-planting-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .serv-card span:nth-child(1) {
    padding-top: 179.5px;
    padding-left: 0px;
    font-size: 24px;
    line-height: 33px;
  }
  .serv-card span:nth-child(2) {
    width: 246px;
    height: 84px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 59.5px;
    margin-top: 10px;
  }
  .serv-list {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cutting {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-cuttin-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .design {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-design-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .growing {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-growing-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .scaping {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-scaping-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .branch {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-branch-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .pests {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-pests-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .watering {
    background: url(images/serv-card-logo-desktop.svg) 76px 25.68px,
      url(images/serv-card-watering-desktop.svg) 130.5px 59.5px;
    background-repeat: no-repeat;
  }

  .main-info-pics {
    height: 903px;
    // display: flex;
    width: 100%;
  }

  .main-info-pics-background {
    width: 450px;
    height: 706px;
  }
  .main-info-pics-center {
    width: 601px;
    height: 741px;
    top: -670px;
    left: 24px;
  }

  .main-info-pics-front {
    width: 456px;
    height: 306px;
    left: 238px;
    top: -830px;
    border: 15px solid #ffffff;
    border-radius: 10px;
  }

  .col-6 {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: column;
  }

  .main-info-headline {
    margin-top: 144.5px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: start;
  }
  .main-info-about {
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
  }

  .main-info-cards {
    margin-top: 50px;
    justify-content: flex-start;
  }

  .main-info-card {
    width: 330px;
    height: 97px;
    box-shadow: none;
    padding-left: 0px;
    padding-top: 32px;
  }

  .main-info-cards a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  .mission {
    background-size: 67px;
    background-position: top 20px left 15px;
  }

  .vision {
    background-size: 67px;
    background-position: top 20px left 15px;
  }

  .support {
    background-size: 67px;
    background-position: top 20px left 15px;
  }

  .trust {
    background-size: 67px;
    background-position: top 20px left 15px;
  }

  .main-info-cards-button {
    margin-top: 50px;
    width: 190px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }

  .pros {
    margin-top: 100px;
    height: 659px;
  }

  .col-12 {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pros-image {
    margin-top: 114.5px;
    display: flex;
    order: 2;
    width: 672px;
    height: 426px;
    filter: drop-shadow(3px 10px 35px rgba(0, 0, 0, 0.25));
  }

  .pros-info {
    width: 667px;
    height: 311px;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
  }

  .pros-info span {
    font-size: 45px;
    line-height: 61px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .pros-points {
    width: 667px;
    order: 3;
    justify-content: space-between;
    gap: 20px 118px;
  }

  .pros-points span:nth-child(-n + 4) {
    font-size: 24px;
    line-height: 33px;
    width: 245px;
    height: 33px;
    background-position: -6px -2px;
    text-align: start;
    padding-left: 50px;
  }

  .work-proc-about {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    width: 1136px;
  }

  .work-proc-about span:nth-child(1) {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }

  .work-proc-about-info {
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
  }

  .work-proc-cards-wrapper {
    margin-top: 50px;
    gap: 30px;
    flex-direction: row;
  }

  .work-proc-cards {
    width: 330px;
    height: 408px;
    padding-top: 165px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.15);
    font-size: 24px;
    line-height: 33px;
  }

  .work-proc-cards span {
    padding-right: 30px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .work-consultation {
    background: url(images/work-proc-card-bg.svg) 180.85px 101.98px/127.8px,
      url(images/work-proc-consultation-dsktop.svg) 29px 55px/70px,
      url(images/work-proc-1-dsktop.svg) 252px 60px, #ffffff;
    background-repeat: no-repeat;
  }

  .work-design {
    background: url(images/work-proc-card-bg.svg) 180.85px 101.98px/127.8px,
      url(images/work-proc-design-dsktop.svg) 29px 50px, #ffffff;
    background-repeat: no-repeat;
  }

  .work-maintenance {
    background: url(images/work-proc-card-bg.svg) 180.85px 101.98px/127.8px,
      url(images/work-proc-maintenance-dsktop.svg) 29px 50px, #ffffff;
    background-repeat: no-repeat;
  }

  .work-complete {
    background: url(images/work-proc-card-bg.svg) 180.85px 101.98px/127.8px,
      url(images/work-proc-complete-dsktop.svg) 29px 50px, #ffffff;
    background-repeat: no-repeat;
  }

  .staff-call {
    width: 1410px;
    height: 247px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
    text-align: start;
    padding: 60.5px 60px 78.5px 647px;
  }

  .call-big {
    width: 170px;
    height: 50px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 24px;
    background-size: 30px;
    background-position: 15px 10px;
    cursor: pointer;
  }

  .staff-about {
    margin-top: 100px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: start;
    display: inline;
    flex-direction: column;
  }

  .staff-about-info {
    padding-top: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    width: 956px;
    margin-right: 264px;
  }
  .staff-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .expert-br-line {
    display: none;
  }

  .experts-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .expert {
    width: 330px;
    height: 408px;
    margin-top: 50px;
  }

  .expert-info {
    width: 330px;
    height: 90px;
    font-size: 24px;
    line-height: 33px;
  }
  .expert-info span {
    font-size: 18px;
    line-height: 30px;
  }
  .experts-xl-only {
    display: flex;
    gap: 30px;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    margin-top: 100px;

    width: 1410px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .feedback-head {
    width: 956px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }

  .feedback-info {
    text-align: start;
    padding-top: 30px;
    font-size: 18px;
    line-height: 30px;
    width: 956px;
  }

  .feedback-block {
    width: 690px;
    height: 341px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .feedback-wrapper {
    width: 415px;
    margin-left: 31px;
    margin-top: 27px;
  }

  .arrows-btn-back {
    width: 50px;
    height: 50px;
    border: 1px solid #00730c;
    border-radius: 5px;
    background: url(images/arrows.svg) no-repeat center;
    cursor: pointer;
  }

  .arrows-btn-back:hover {
    background: url(images/arrows-hover.svg);
    transform: rotate(180deg);
  }

  .forward {
    transform: rotate(180deg);
  }

  .forward:hover {
    background: url(images/arrows-hover.svg);
    transform: none;
  }

  .btn-wrapper {
    display: flex;
    gap: 30px;
  }

  .feedback-user-pic {
    width: 193px;
    height: 276px;
    margin-top: 32px;
    margin-left: 25px;
  }

  .feedback-data {
    font-size: 18px;
    line-height: 30px;
    width: 415px;
    height: 174px;
    margin-left: 31px;
    margin-top: 38px;
    padding-right: 0px;
    padding-left: 12px;
    padding-top: 24px;

    background-size: 70px;
    background-position: 8px 0px;
  }

  .feedback-username {
    font-size: 24px;
    line-height: 33px;
  }

  .feedback-username span {
    font-size: 14px;
    line-height: 25px;
  }

  .feedback-block-xl {
    display: flex;
    gap: 30px;
  }

  .faq-wrapper {
    margin-top: 157px;
  }

  .faq {
    width: 828px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .faq-head {
    justify-content: flex-start;
    width: 828px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
  }

  .faq-info {
    width: 828px;
    text-align: start;
    padding-top: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .faq-dropdwn {
    gap: 30px;
    width: 810px;
    margin-top: 42px;
  }

  .dropbtn {
    width: 810px;
    height: 59px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    background-position: 756.5px 15.5px;
    background-size: 28px;
  }

  .dropbtn:focus {
    background-position: 752.5px 15.5px;
    background-size: 28px;
  }

  .faq-dropdwn-content {
    font-size: 16px;
    line-height: 28px;
    width: 810px;
    max-width: 810px;
    padding-left: 30px;
    padding-right: 28px;
    height: 168px;
  }
  .faq-pic {
    margin-left: 65px;
    width: 509px;
    height: 679px;
    background-color: #c4c4c4;
  }
}
